.mSimplePager {
	height: 100%;
	float: left;
}

.mSimplePagerText {
	margin: 0;
	height: 12px;
	font-weight: bold;
	margin-top: 2px;
}

.mSimplePagerTextField {
	width: 38px; /* On spécifie la largeur pour gérer 4 chiffres. */
	font-weight: bold;
	margin: 0;
	margin-top: 2px;
	margin-left: 4px;
}

.mSimplePagerErrorMessage {
	color: red;
}