/*
* CSS pour la MDataGrid. 
*
* L'objectif c'est d'overrider le CSS par défaut de GWT pour la datagrid.
* (cf la classe MDataGrid.java pour son utilisation.)
* 
* @author bwnyasse.
*/
@def selectionBorderWidth 1px;
.dataGridWidget {
	
}

.dataGridHeader {
	color: black;
	text-shadow: 1px 1px #FFFFFF;
	border-color: #C2C0C2;
	border-style: solid;
	border-width: 1px 1px 1px 0;
	overflow: hidden;
	white-space: nowrap;
	font-size: 12px;
	vertical-align: middle;
	height: 20px;
	background: -moz-linear-gradient(literal('center bottom'),
		literal('#E3E3E3 56%'), literal('#EFEFEF 64%'));
	background: -webkit-gradient(linear, literal('left bottom'),
		literal('left top'), color-stop(0.56, #E3E3E3),
		color-stop(0.64, #EFEFEF));
	background: linear-gradient(#EFEFEF, #E3E3E3);
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: normal;
	text-align: center;
}

.dataGridHoveredRow {
	background: #DEF2FF;
}

.dataGridKeyboardSelectedRow {
	background: #CDDEF7;
	font-weight:bold;
	text-shadow: 1px 1px #FFFFFF;
}